<ion-view title="登录">
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="请输入用户名">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="请输入密码">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block">登录</button>
            <a href="#/signup" class="button button-positive button-clear button-block">或者，立即创建一个用户</a>
        </form>
    </ion-content>
</ion-view>
