<ion-view view-title="推荐">
    <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()">
      </ion-refresher>
        <div class="list card"  ng-repeat="expert in experts">
            <ion-item class="item item-avatar item-remove-animate" href="#/tab/dash-expert/10001">
                <img src="images/experts/01.jpg">
                <h2>{{expert.name}}</h2>
                <p>{{expert.description}}</p>
            </ion-item>
            <div class="item item-body" ng-repeat="work in expert.works">
                <!-- <ion-item href="#/tab/dash-work/20001"> -->
                <a href="#/tab/dash-work/20001"><img class="full-image" src="images/works/01-001.jpg"></a>
                <p>
                    {{work.description}}
                </p>
                <p>
                    <span class="subdued"><a>1</a>人喜欢</span>
                    <span class="subdued"><a>5</a>个评论</span>
                </p>

                <div class="item tabs-secondary tabs tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i> 喜欢
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i> 评论
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i> 分享
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
