<ion-view view-title="名家">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="expert in experts" type="item-text-wrap" href="#/tab/expert/{{expert._id}}">
                <img ng-src="images/experts/{{expert.avatar}}">
                <h2>{{expert.name}}</h2>
                <p>{{expert.description}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(expert)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
